body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: aliceblue;  
  justify-content: center;
}
.menú{
    list-style:none;
    padding:0;
    background-color: blue;
    width: 90%;
    max-width:1000px;
    margin: auto;
}
.menú li a{
    text-decoration: none;
    color:white;
    padding:20px;
    display:block;
}
.menú li{
    display:inline-block;
    text-align: center;
}
.menú li a:hover{
    background-color: blanchedalmond;
}
.container{
    border: solid 2px;
}
table{
    color: white;
    font-size:14px;
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    background-color: plum;
}
th{
    padding: 20px 15px;
    font-weight:700;
    text-transform: uppercase;
}
td{
    padding:15px;
    border-bottom: solid 2px;
}
tbody tr:hover{
    background-color: lightskyblue;
}